<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect default.aspx" stopProcessing="true">
          <match url="^default\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Default.aspx" stopProcessing="true">
          <match url="^Default\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Aboutus.aspx" stopProcessing="true">
          <match url="^Aboutus\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect AboutUs.aspx" stopProcessing="true">
          <match url="^AboutUs\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect CorporateOverview.aspx" stopProcessing="true">
          <match url="^CorporateOverview\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/corporate-overview/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect InvestorRelations.aspx" stopProcessing="true">
          <match url="^InvestorRelations\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/investor-relations/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect MarketsServed.aspx" stopProcessing="true">
          <match url="^MarketsServed\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/markets-served/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Quality.aspx" stopProcessing="true">
          <match url="^Quality\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/quality/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect JobOpportunities.aspx" stopProcessing="true">
          <match url="^JobOpportunities\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/about/job-opportunities/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Products.aspx" stopProcessing="true">
          <match url="^Products\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 31Solar.aspx" stopProcessing="true">
          <match url="^31Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 311Solar.aspx" stopProcessing="true">
          <match url="^311Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/crb-s/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 312Solar.aspx" stopProcessing="true">
          <match url="^312Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/epb-s/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 313Solar.aspx" stopProcessing="true">
          <match url="^313Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/db-4-s/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 314Solar.aspx" stopProcessing="true">
          <match url="^314Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/erh-s/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 315Solar.aspx" stopProcessing="true">
          <match url="^315Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/fch-s/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 316Solar.aspx" stopProcessing="true">
          <match url="^316Solar\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/solar/prototype-production/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 32Automotive.aspx" stopProcessing="true">
          <match url="^32Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 321Automotive.aspx" stopProcessing="true">
          <match url="^321Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/db-4/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 322Automotive.aspx" stopProcessing="true">
          <match url="^322Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/db-4-quick-change/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 323Automotive.aspx" stopProcessing="true">
          <match url="^323Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/dbx-t/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 324Automotive.aspx" stopProcessing="true">
          <match url="^324Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/epb-l-xl/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 325Automotive.aspx" stopProcessing="true">
          <match url="^325Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/epb-t-xt/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 326Automotive.aspx" stopProcessing="true">
          <match url="^326Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/crb/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 326XAutomotive.aspx" stopProcessing="true">
          <match url="^326XAutomotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/crb-x/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 327Automotive.aspx" stopProcessing="true">
          <match url="^327Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/qs/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 328Automotive.aspx" stopProcessing="true">
          <match url="^328Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/epb-l-t/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 329Automotive.aspx" stopProcessing="true">
          <match url="^329Automotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/erh/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 32LTAutomotive.aspx" stopProcessing="true">
          <match url="^32LTAutomotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/epb-lt/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 32XLTAutomotive.aspx" stopProcessing="true">
          <match url="^32XLTAutomotive\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/automotive/epb-xlt/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 33Architectural.aspx" stopProcessing="true">
          <match url="^33Architectural\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/architectural/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 331Architectural.aspx" stopProcessing="true">
          <match url="^331Architectural\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/architectural/abts/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 332Architectural.aspx" stopProcessing="true">
          <match url="^332Architectural\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/architectural/fch2/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 333Architectural.aspx" stopProcessing="true">
          <match url="^333Architectural\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/architectural/erh2/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 334Architectural.aspx" stopProcessing="true">
          <match url="^334Architectural\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/architectural/trcb/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 34Aftermarket.aspx" stopProcessing="true">
          <match url="^34Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 341Aftermarket.aspx" stopProcessing="true">
          <match url="^341Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/retrofits/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 342Aftermarket.aspx" stopProcessing="true">
          <match url="^342Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/replacement-parts/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 343Aftermarket.aspx" stopProcessing="true">
          <match url="^343Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/service/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 344Aftermarket.aspx" stopProcessing="true">
          <match url="^344Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/tooling/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 345Aftermarket.aspx" stopProcessing="true">
          <match url="^345Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/shape-modeler/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 346Aftermarket.aspx" stopProcessing="true">
          <match url="^346Aftermarket\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/products/aftermarket/prototype-production/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Support.aspx" stopProcessing="true">
          <match url="^Support\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect support.aspx" stopProcessing="true">
          <match url="^support\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 41support.aspx" stopProcessing="true">
          <match url="^41support\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/support/technical-support/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 42support.aspx" stopProcessing="true">
          <match url="^42support\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 43support.aspx" stopProcessing="true">
          <match url="^43support\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect newsevents.aspx" stopProcessing="true">
          <match url="^newsevents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect NewsEvents.aspx" stopProcessing="true">
          <match url="^NewsEvents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Newsevents.aspx" stopProcessing="true">
          <match url="^Newsevents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 51NewsEvents.aspx" stopProcessing="true">
          <match url="^51NewsEvents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/news/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 52NewsEvents.aspx" stopProcessing="true">
          <match url="^52NewsEvents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/events/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 53NewsEvents.aspx" stopProcessing="true">
          <match url="^53NewsEvents\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/news-events/trade-shows/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Software.aspx" stopProcessing="true">
          <match url="^Software\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/inspection/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 71AGIR.aspx" stopProcessing="true">
          <match url="^71AGIR\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/inspection/agi-g-r/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 71AGIT.aspx" stopProcessing="true">
          <match url="^71AGIT\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/inspection/agi-t/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 72Software.aspx" stopProcessing="true">
          <match url="^72Software\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/inspection/software/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 73Software.aspx" stopProcessing="true">
          <match url="^73Software\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/inspection/shape-modeler/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Contactus.aspx" stopProcessing="true">
          <match url="^Contactus\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/contact/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect ContactUs.aspx" stopProcessing="true">
          <match url="^ContactUs\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/contact/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect PrivacyPolicy.aspx" stopProcessing="true">
          <match url="^PrivacyPolicy\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/privacy-policy/" redirectType="Permanent" />
        </rule>
        <rule name="Removed support training page" stopProcessing="true">
          <match url="^support/training/?$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <rule name="Removed support download-literature page" stopProcessing="true">
          <match url="^support/download-literature/?$" ignoreCase="true" />
          <action type="Redirect" url="/support/" redirectType="Permanent" />
        </rule>
        <!-- Catch-all for any remaining .aspx requests -->
        <rule name="Redirect legacy aspx fallback" stopProcessing="true">
          <match url="(.*)\.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
